version: '3.8'

services:
  # 1. BROKER MQTT
  mosquitto:
    image: eclipse-mosquitto:2.0
    container_name: vasafe_broker
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./config/mosquitto.conf:/mosquitto/config/mosquitto.conf
    networks:
      - vasafe_net

  # 2. BANCO DE DADOS (InfluxDB 1.8)
  influxdb:
    image: influxdb:1.8
    container_name: vasafe_db
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB=vacinas
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=admin
    networks:
      - vasafe_net

  # 3. DASHBOARD (Grafana)
  grafana:
    image: grafana/grafana:latest
    container_name: vasafe_dash
    ports:
      - "3000:3000"
    links:
      - influxdb
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - vasafe_net

networks:
  vasafe_net:
    driver: bridge